body {
    /* background-color: rgb(107, 165, 0); */
    background-image: url(../images/background.png);
}

h1, h3, p {
    color: white;
}

hr {
    color: white;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 3.5rem;
}

@media (max-width: 1000px) {
    h1 {
      font-size: 3rem;
    }

    #point-total {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
}

@media (max-width: 500px) {
    h1 {
      text-align: center;
    }
}

.icons {
    margin-left: 10%;
}

.fancy-font {
    font-family: 'Nerko One', cursive;
}

.tooltip {
    font-family: 'Nerko One', cursive;
}

.tooltip .tooltip-inner{
    background-color: #692a24;
    color: white;
}

#reset {
    margin-left: 2%;
    /* opacity: 50; */
}